<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class ="container">

<h1>Create Event X crHtml</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--<p th:text="${errorMsg}" style="color:red;"></p> video 3.2 error message will appear on form
  Can remove this from video 3.3 since we added thymeleaf to each view-->

<!--creates the input form to add a new event-->
<form method ="post" action="/events/create">
   <div class ="form-group">
        <label>NameCreHtml
          <!--//<input type="text" name="eventName" class="form-control">  name must match
          -->
            <!--<input type="text" name="name" class="form-control"> name='name' in form must match Event.java
            class names in order to print out-->
            <input th:field="${event.name}" class="form-control"><!-- name='name' and type text replaced with thymeleaf
            -->
        </label>
       <p class="error" th:errors="${event.name}"></p><!--thymleaf valid video 3.3  Insert any error messages
       associates with this section here-->
   </div>
    <div class ="form-group">
        <label> DescriptionCreHtml
            <!--  <input type="text" name="description"  class="form-control"> name="description" in form must match Event.java
                class names in order to print out-->
          <input th:field="${event.description}" class="form-control"><!-- name='name' and type text replaced with thymeleaf-->
        </label>
        <p class="error" th:errors="${event.description}"></p><!--thymleaf valid video 3.3  Insert any error messages
       associates with this section here-->
   </div>
    <div class ="form-group">
        <label> Contact EmailCreHtml
            <!--  <input type="text" name="contactEmail"  class="form-control"> name="description" in form must match Event.java
              class names in order to print out-->
            <input th:field="${event.contactEmail}" class="form-control"><!-- name='name' and type text replaced with thymeleaf-->
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p><!--thymleaf valid video 3.3  Insert any error messages
       associates with this section here-->
    </div>
   <div class ="form-group">
          <input type="submit" name="Create Event" class="btn btn-success">
   </div>
</form>

</body>
</html>