<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class ="container">
<h1>All Events X evIndHtml</h1>

<nav th:replace="fragments :: navigation"></nav>


<p th:unless="${events} and ${events.size()}">NO EVENTS!evIndHtml</p>

<!--loop to show all the events in a list -->

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID evIndHtml</th><!--added video 2.2-->
            <th>Name evIndHtml</th>
            <th>Description evIndHtml</th><!--added video 2.2-->
            <th>Contact Email evIndHtml</th><!--added video 3.1-->
        </tr>
    </thead>
<!-- looping over a list of events as strings, in our table. Need to change to reflect list
      of events with name property. NOT STRINGS!
    <tr th:block th:each="event : ${events}">
       <td th:text="${event}"></td>
    </tr> -->
    <!--Now looping over a list of events as event objets, The list
      of objects with name property  uses the getter for the name field..
        which is private, so you need getters-->
    <tr th:block th:each="event : ${events}">
        <td th:text="${event.id}"></td><!--added video 2.3-->
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td><!--added video 2.2-->
        <td th:text="${event.contactEmail}"></td><!--added video 3.1-->
    </tr>


</table>

</body>
</html>